version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: autootvet-backend
    ports:
      - "8000:8000"
    volumes:
      - .//app/data
      - ./backend:/app
      - ./.env:/app/.env
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    networks:
      - autootvet-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: autootvet-frontend
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - autootvet-network

networks:
  autootvet-network:
    driver: bridge
